button{
  background: none;
  border: none;
  box-shadow: none;
}
a{display: inline-block;}
@font-face {
  font-family: "montserrat-m";
  src: url("/fonts/montserrat/Montserrat-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat-b";
  src: url("/fonts/montserrat/Montserrat-BlackItalic.ttf") format("truetype");
}
.fnt-montserrat-m{
  font-family: 'montserrat-m', serif;
}
.fnt-montserrat-b{
  font-family: 'montserrat-b', serif;
}
:root{
  --color:#cccccc;
}
body{font-family: 'montserrat-m', serif}
.-h-100{height: 100vh;min-height: 100vh}
.c-main{color: var(--color)}
.h-100d{height:100%}
.dis-f{display: flex;display:-moz-flex;display: -webkit-flex;}
.f-wrap-w{flex-wrap: wrap;-webkit-flex-wrap: wrap;}
.al-it-c{align-items: center;-webkit-align-items: center;}
.al-it-e{align-items: end;-webkit-align-items: flex-end;}
.al-it-st{align-items: stretch;-webkit-align-items: stretch;}
.jus-c-c{justify-content: center;-webkit-justify-content: center;}
.jus-c-sa{justify-content: space-around;-webkit-justify-content: space-around;}
.jus-c-sb{justify-content: space-between;-webkit-justify-content: space-between;}
.jus-c-se{justify-content: space-evenly;-webkit-justify-content: space-around;}
.flex-d-c{flex-direction: column;-webkit-flex-direction: column;}
.flex-w-w{flex-wrap: wrap;-webkit-flex-wrap: wrap;}
.transition{transition: all 0.3s}
.top-50d{top: 50%;transform: translate(0,-50%);}
.left-50d{left: 50%;transform: translate(-50%,0);}
.center-center{top: 50%;left: 50%;transform: translate(-50%,-50%)}



body{
  &> header{
    z-index: 2;
    padding: 35px 0 0 35px;
    a:hover{
      color: #000;
    }
  }

  #top > div {
    &> div{
      & > div:nth-child(1){
        padding-left: 80px;
        h1{
          font-size: 70px;
        }
        h2{
          font-size: 50px;
        }
        a{
          background: #ff3388;
          padding: 20px 40px;
          border-radius: 30px;
          box-shadow: 0 3px 10px -5px #000000;
        }
      }
      & > div:nth-child(2){
        img{
          padding-right: 80px;
          //mask-image: url("/images/img_place.png");
          //mask-position: center center;
          //mask-size: cover;
          //mask-repeat: round;
          max-height: 100%;
        }
      }
    }
    &> footer {
      padding: 0 20px 20px 0;
      z-index: 1;
      a{
        &:first-child{
          &:after {
            position: absolute;
            content: '';
            right: calc(100% + 20px);
            top: 50%;
            transform: translate(0, -50%);
            height: 3px;
            width: 200%;
            background: var(--color);
          }
        }
        &:hover{
          color: #000;
        }
      }
    }
  }

  #portfolios{
    .item{
      max-width: 300px;
      &.open{
        max-width: 100%;
      }
      img{
        box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
      }
    }
  }
}





@media screen and (max-width:1290px){
  body #top > div > div > div:nth-child(1) h1 {
    font-size: 50px;
  }
  body #top > div > div > div:nth-child(1) h2 {
    font-size: 30px;
  }
}
@media screen and (max-width:1130px){
  body #top > div > div > div:nth-child(1) h1 {
    font-size: 40px;
  }
  body #top > div > div > div:nth-child(1) h2 {
    font-size: 20px;
  }
}
@media screen and (max-width:970px){
  body #top > div > div > div:nth-child(1) {
    padding: 0 80px 0 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    z-index: 1;
    text-align: right;
  }
  body #top > div > div > div:nth-child(2) img {
    padding-right: 0;
  }
  .all-top-img{
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
  }
}
@media screen and (max-width:490px){
  body #top > div > div > div:nth-child(1) h1 {
    font-size: 30px;
  }
  body #top > div > div > div:nth-child(1) h2 {
    font-size: 20px;
  }
  body #top > div > div > div:nth-child(1) a {
    font-size: 12px;
    padding: 10px 35px;
  }
  body #top > div > div > div:nth-child(1) {
    padding: 0 45px 0 0;
  }
}